/* Input form Style */

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 2px solid #afbdcf;
    border-radius: 5px;
    height: 47px;
    width: 100%;
    color: #000000;
    font-size: 14px;
    padding-left: 20px;
    box-shadow: none;
    margin-bottom: 20px;
}


/* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */

input:focus+label,
input:valid+label {
    font-size: 12px;
    color: #afbdcf;
    top: -5px;
    left: 10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}

.input_wrap {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}

.input_wrap label {
    font-family: arial;
    font-size: 16px;
    color: #afbdcf;
    padding: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;

}

input[type="text"],
input[type="email"],
input[type="password"]:focus {
    outline: none;
}